{% extends "base.html" %}

{% block title %} Create new question{% endblock title%}

{% block content %}
    <h1>Create new question</h1>
    <form method="post">
        {% csrf_token %}

        {{ form.as_ul }}

        {{ choice_formset }}

        <hr>

        <button type="submit" name="form-TOTAL_FORMS" value="{{next_extra}}">Add Choice</button>
        <button type="submit" name="form-TOTAL_FORMS" value="{{prev_extra}}">Remove Choice</button>

        <input type="submit" name="create" value="Create">
    </form>
{% endblock content %}