{% extends "base.html" %}

{% block title %} Home {% endblock title%}

{% block content %}

    <h1>
        Hello {{ user.username }}
    </h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{% url 'logout' %}" style="float: right;">Logout</a>
    <a href="{% url 'create' %}">Create new Question</a>

    <p>Available Questions for votes</p>
    {% if open_questions %}
    <ul>
        {% for question in open_questions %}
        <li>
            <!--<a href="/polls/{{ question.id }}/">{{ question.question_text }}</a>-->
            <a href="{% url 'detail' question.id %}">{{ question.question_text }}</a><!--polls:detail-->
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available</p>
    {% endif %}

    <br>
    <p>Voted Questions</p>
    {% if user_answers %}
    <ul>
        {% for answer in user_answers %}
        <li>
            <!--<a href="/polls/{{ question.id }}/">{{ question.question_text }}</a>-->
            <a href="{% url 'results' answer.question_text.id %}">{{ answer.question_text }}</a>
            You voted with: {{ answer.choice_text }}

        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available</p>
    {% endif %}

{% endblock content %}